body {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
    min-height: 163px;
    background-color: white;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.3);
    border-radius: 18px;
}

.heading {
    font-family: Arial;
    font-weight: bold;
    font-size: 34px;
    color: rgb(48, 48, 48);
}

input {
    width: 194px;
    height: 33px;
    padding-left: 9px;
    border-radius: 5px;
    border: 1px solid rgb(100, 100, 100);
}

.add-note {
    height: 38px;
    width: 82px;
    margin-left: 6px;
    border-radius: 8px;
    border: none;
    background-color: rgb(48, 48, 48);
    color: white;
    transition: background-color 0.7s;
}

.add-note:hover {
    background-color: rgb(108, 108, 108);
}
.add-note:active {
    background-color: rgb(0, 0, 0);
}

ul {
    width: 286px;
    padding: 0px;
    margin-right: 9px;
    list-style: none;
        background-color: white;
}

li {
    border: 1px solid rgb(180, 180, 180);
    height: 46px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    font-size: 18px;
    font-family: Arial;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn {
    margin-right: 10px;
    background-color: rgb(224, 28, 28);
    width: 67px;
    height: 26px;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.8s;
}

.btn:hover {
    background-color: rgb(255, 0, 0);
}

.btn:active {
    background-color: rgb(151, 52, 52);
}